apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true

  sources:
    - repoURL: https://github.com/stefanprodan/podinfo
      targetRevision: HEAD
      path: charts/podinfo
      helm:
        valuesObject:
          ingress:
            enabled: true
    - repoURL: https://github.com/tomromeo/argocd-test
      targetRevision: HEAD
      path: apps/podinfo
